.footer {
    display: flex;
    justify-content: space-between;

    &__links {
        display: flex;
        gap: 2rem;
    }

    &__info-text {
        margin: 0;
        font-size: 1.13rem;
        font-weight: 400;
    }
}
