a {
    text-decoration: none;
    font-weight: bold;
}
.nav-bar {
    padding: 1rem;
    position: fixed;
        top: 16px;
        left: 50%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    z-index: 999;
}
.nav {
    margin: 0;
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 12px;
    background-color: $accent-color;
    border-radius: 50px;

}
.nav-item {
    flex: 1 0 auto;
    text-decoration: none;
    border-radius: 50px;
    transition: 350ms;

    &.active {
        background-color: $white !important;

        a {
            color: $dark-blue;
        }
    }
    &:hover {
        background-color: $light-blue;
        color: lighten($dark-blue, 10%);
    }

    a {
        display: inline-block;
        padding: 0.31rem 1.58rem;
        color: $dark-blue;
    }
}

@media (min-width: 576px) {
    .nav-item {
        a {
            padding: 0.31rem 3.13rem;
        }
        
    }
}