.project {
    margin-bottom: 1.5rem;
    border-radius: 12px;
    overflow: hidden;

    &__title {
        margin: 0;
        padding: .5rem 1rem;
        background-color: $accent-color;
        color: $dark-blue;
        font-size: 1.13rem;
        font-weight: 700;
        transition: 200ms;
    }

    &:hover .project__title {
        background-color: $light-blue;
    }
}

@media (min-width: 768px) {
    .project {
        margin-bottom: 0;
    }
}